ansible==5.3.0
ansible-core==2.12.2
asgiref==3.5.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.3
cryptography==36.0.1
decorator==4.4.2
Django==4.0.2
django-countries-plus==2.0.1
Flask==2.0.3
greenlet==1.1.2
idna==3.3
imageio==2.16.0
imageio-ffmpeg==0.4.5
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
moviepy==1.0.3
numpy==1.22.2
packaging==21.3
pandas==1.4.1
pendulum==2.1.2
Pillow==9.0.1
proglog==0.1.9
py-youtube==1.1.4
pycparser==2.21
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
pytzdata==2020.1
PyYAML==6.0
requests==2.27.1
resolvelib==0.5.4
robot==20071211
six==1.16.0
SQLAlchemy==1.4.31
sqlparse==0.4.2
tqdm==4.62.3
urllib3==1.26.8
Werkzeug==2.0.3
zc.buildout==2.13.6
